---
---

$header-bg-color: #D4AF77; // #ff7e5f; // The top-left color
$header-bg-color-secondary: #345431;           // The bottom-right color
$section-headings-color: #1F731C;
$body-link-color: #825509;

@import "{{ site.theme }}";

.header-color {
  color: #2A533E; //#159960; // This is the default Cayman header color
}


.page-header {
  padding: 1.5rem 1rem;
}



.main-content {
  max-width: 75rem;
  padding: 2rem 6rem;
  margin: 0 auto;
  font-size: 1.1rem;
}

@media screen and (max-width: 480px) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}
