---
---

@import "{{ site.theme }}";

.header-color {
  color: #159957; // This is the default Cayman header color
}


.page-header {
  padding: 1.5rem 1rem;
}



.main-content {
  max-width: 75rem;
  padding: 2rem 6rem;
  margin: 0 auto;
  font-size: 1.1rem;
}

@media screen and (max-width: 480px) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}
